<h3 class="title">Create New Paragraph</h3>

<%= form_with(model: [ @project, @project.paragraphs.build ], local: true) do |form| %>

  <div>
    <%= form.label :title, class: 'label'%>
    <%= form.text_field :title, class: 'input' %>
  </div>

  <div>
    <%= form.label :content, class: 'label' %>
    <%= form.text_area :content, class: 'textarea', rows: '10' %>
  </div>
  <div>
    <%= form.submit class: 'button mt-5' %>
  </div>
<% end %>