<h1>Editing Project</h1>

<%= render 'form', project: @project %>

<h2>Paragraphs</h2>
<% @project.paragraphs.each do |paragraph| %>
  <p>
    <strong>Comment:</strong>
    <%= paragraph.content %>
    <%= link_to 'Edit', edit_project_paragraph_path(@project, paragraph) %>
  </p>
<% end %>

<%= render 'pform'%>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
