<p id="notice"><%= notice %></p>

<header class="section fade-in">
  <h1 class="is-size-1 title has-text-centered mt-6">Projects</h1>
</header>
  
<main class="section fade-in">
    <% @projects.each do |project| %>
      <div class="container">
        <h2 class="title"><%= link_to project.title, project, class: " underlined link" %></h2>
        <p class="subtitle"><%= project.description %></p class="subtitle">
          
          <% if project.tag.to_s.include? "Ruby"%>
            <div class="tag is-danger is-light">Ruby</div>
          <% end %>
          <% if project.tag.to_s.include? "Rails"%>
            <div class="tag is-link is-light">Rails</div>
          <% end %>
          <% if project.tag.to_s.include? "Javascript"%>
            <div class="tag is-warning is-light">Javascript</div>
          <% end %>
          <% if project.tag.to_s.include? "CSS"%>
            <div class="tag is-success is-light">CSS</div>
          <% end %>
          
        <% if logged_in? %>
          <%= link_to 'Edit', edit_project_path(project), class: "link" %> |
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
        <%end%>
      </div>
    <% end %>
</main>

<section class="section fade-in">
  <p>Not all of my work is posted on my project page. Don't hesitate to checkout my <a href="https://github.com/wpank84" class="link underlined has-text-weight-semibold">Github</a> for more of my work.</p>
</section>

<% if logged_in? %>
<br>
  <%= link_to 'New Project', new_project_path, class: "link" %>
<% end %>
