<header class="section fade-in">
  <h1 class="is-size-1 title has-text-centered mt-6">Projects</h1>
</header>
  
<main class="section fade-in">
    <% @projects.each do |project| %>
      <div class="container">
        <h2 class="title"><%= link_to project.title, project, class: " underlined link" %></h2>
        <p class="subtitle"><%= project.description %></p class="subtitle">

          <% project.tag.split(/ /).each do |tag| %>
            <% if tag.include? "Ruby"%>
              <div class="tag is-danger is-light">Ruby</div>
              <% elsif tag.include? "Rails" %>
                <div class="tag is-link is-light">Rails</div>
              <% elsif tag.include? "Javascript" %>
                <div class="tag is-warning is-light">Javascript</div>
              <% elsif tag.include? "CSS" %>
                <div class="tag is-success is-light">CSS</div>
              <% else %>
                <div class="tag is-info is-light"><%= tag %></div>
            <% end %>
          <% end %>
          
        <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_project_path(project), class: "link" %> |
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
        <%end%>
      </div>
    <% end %>
</main>

<section class="section fade-in">
  <p>Not all of my work is posted on my project page. Don't hesitate to check out my <a href="https://github.com/wpank84" class="link underlined has-text-weight-semibold">Github</a> for more of my work.</p>
</section>

<% if admin_signed_in? %>
<br>
  <%= link_to 'New Project', new_project_path, class: "link" %>
<% end %>
