<p id="notice"><%= notice %></p>

<div class="container">
<h1 class="is-size-1 title has-text-centered mt-6">Projects</h1>

  
    <% @projects.each do |project| %>
      <div class="container">
        <h2 class="title"><%= link_to project.title, project %></h2>
        <p class="subtitle"><%= project.description %></p class="subtitle">
        <%= link_to 'View', project %>
        <% if logged_in? %>
        | <%= link_to 'Edit', edit_project_path(project) %> |
          <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
      </div>
    <% end %>
  </div>


<br>

<%= link_to 'New Project', new_project_path %>
