<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="is-size-1 title has-text-centered mt-6"><%= @project.title %></h1>
</div>

<h2>Paragraphs</h2>
<% @project.paragraphs.each do |paragraph| %>

<h2 class="title"><%= paragraph.title %></h2>
  <p class="subtitle">
    <%= paragraph.content %>
  </p>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
