<main class="section fade-in">
  <div class="container">
    <h1 class="is-size-1 title has-text-centered"><%= @project.title %></h1>
  </div>

  <% @project.paragraphs.each do |paragraph| %>

  <h2 class="pt-4 mt-4 is-size-4 has-text-weight-semibold"><%= paragraph.title %></h2>
  <p class="mt-4 is-size-6">
    <%= paragraph.content %>
  </p>
  <% end %>

  <% if admin_signed_in? %>
    <%= link_to 'Edit', edit_project_path(@project), class: 'link' %> |
  <% end %>
  <%= link_to 'Back', projects_path, class: 'link' %>
</main>
