<%= form_with(model: paragraph, url: project_paragraph_path, local: true) do |form| %>
  <% if paragraph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paragraph.errors.count, "error") %> prohibited this paragraph from being saved:</h2>

      <ul>
        <% paragraph.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: 'label'%>
    <%= form.text_field :title, class: 'input' %>
  </div>

  <div>
    <%= form.label :content, class: 'label' %>
    <%= form.text_area :content, class: 'textarea', rows: '10' %>
  </div>

  <div>
    <%= form.submit class: 'button mt-5'%>
  </div>
  <%= link_to 'Destroy', project_paragraph_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>


