<%= form_with(model: paragraph, url: project_paragraph_path, local: true) do |form| %>
  <% if paragraph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(paragraph.errors.count, "error") %> prohibited this paragraph from being saved:</h2>

      <ul>
        <% paragraph.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
