<!DOCTYPE html>
<html>
  <head>
    <title>Wpankdev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d58bb37aa5.js" crossorigin="anonymous"></script>
  </head>

  <body class="mx-auto">
    <div class="cursor cursor-small fade-in"></div>
    <%=render 'layouts/nav'%>
    <%= yield %>
  </body>
    <%= javascript_pack_tag 'main' %>
</html>
